.about-section {
  background: #6989af;

  @include media(desktop) {
  }
}

.about-bg-wrapper {
  padding-top: 48px;
  padding-bottom: 56px;

  @include media(desktop) {
    padding-top: 48px;
    padding-bottom: 64px;
  }
}

.about-container {
}

.about-title-wrapper {
  @include media(desktop) {
  }
}

.about-subtitle {
  color: #fafafa;

  @include media(desktop) {
  }
}

.about-content-wrapper {
  background: linear-gradient(270deg, #b1c6db 0%, #bbcfdf 100%);
  border: 2px solid rgba(34, 59, 90, 0.6);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media(desktop) {
    flex-direction: row-reverse;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
  }
}

.about-text {
  padding: 32px 34px;
  font-family: 'Mohave', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  color: #223b5a;

  @include media(desktop) {
    padding: 48px;
    font-size: 16px;
    text-align: left;
    max-width: 471px;
  }
}

.about-img {
  @include media(desktop) {
    min-width: 446px;
  }
}
