.faq-section {
  @include media(desktop) {
  }
}

.faq-title {
  @include media(desktop) {
  }
}

.faq-bg-wrapper {
  padding-top: 56px;
  padding-bottom: 84px;

  @include media(desktop) {
    padding-bottom: 64px;
  }
}

.faq-container {
  @include media(desktop) {
  }
}

.faq-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 36px;

  @include media(desktop) {
  }
}

.faq-list-item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;

  @include media(desktop) {
    max-width: 894px;
  }
}

.faq-item-question-wrapper {
  border-bottom: 2px solid #6989af;
  padding-top: 8px;
  padding-bottom: 6px;

  @include media(desktop) {
  }
}

.faq-item-answer-wrapper {
  max-height: 0;
  overflow: hidden;
  transition:
    height 0.3s ease-in-out,
    opacity 0.3s ease-in-out,
    padding 0.3s ease-in-out;
  opacity: 0;

  @include media(desktop) {
  }
}

.faq-top-text-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  width: 100%;

  @include media(desktop) {
  }
}

.faq-toggle-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.faq-icon {
  min-width: 24px;
}

.faq-btn-text {
  font-family: 'Mohave', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.4;
  color: #0e1f34;
  text-align: left;

  @include media(desktop) {
    font-size: 24px;
  }
}

.faq-bottom-text {
  font-family: 'Mohave', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #223b5a;

  @include media(desktop) {
    font-size: 16px;
  }
}

.is-visible {
  max-height: 500px;
  opacity: 1;

  @include media(desktop) {
    max-height: 100px;
  }
}

.faq-list-item.faq-open .faq-toggle-symbol {
  transform: rotate(180deg);
}

.faq-list-item.faq-open .faq-item-answer-wrapper {
  padding-top: 16px;
  opacity: 1;
  max-height: 500px;

  @include media(desktop) {
  }
}
