.visual-section {
  background: #6989af;

  @include media(desktop) {
  }
}

.visual-bg-wrapper {
  padding-top: 56px;
  padding-bottom: 56px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-bottom: 64px;
    max-width: 1440px;
  }
}

.visual-container {
  padding: 0;

  @include media(desktop) {
  }
}

.visual-subtitle {
  color: #fafafa;

  @include media(desktop) {
  }
}

.visual-text-wrapper {
  padding: 0 16px;
  margin-bottom: 20px;

  @include media(desktop) {
    padding: 0 120px;
    margin-bottom: 24px;
  }
}

.visual-text {
  font-family: 'Mohave', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  color: #fafafa;

  @include media(desktop) {
    font-size: 16px;
    max-width: 741px;
    margin-left: auto;
    margin-right: auto;
  }
}

.visual-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
  }
}
