<section class="section about-section" id="about">
  <div class="section-title-wrapper about-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title about-title">ABOUT THE APP</h2>
    </div>
  </div>
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <p class="section-subtitle about-subtitle">
        A compact collection of logic and language
      </p>
      <div class="about-content-wrapper">
        <p class="about-text">
          Instead of switching between separate apps, Puzzles with Words gathers
          four timeless word games in one place.<br />
          <br />
          Each game works different parts of your brain - some test your memory,
          others challenge how quickly you spot patterns.<br />
          <br />
          We kept the design super clean because honestly, there's nothing worse
          than fighting with a clunky app when you just want to play some word
          games.<br />
          <br />
          It’s designed for players who enjoy quiet mental challenges without
          unnecessary noise.
        </p>
        <picture>
          <source
            srcset="./img/about/about-img-desk.png"
            media="(min-width: 1440px)"
            width="446"
            height="360" />
          <source
            srcset="./img/about/about-img-mob.png"
            width="343"
            height="276" />
          <img
            class="about-img"
            src="./img/about/about-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="276"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
