<section class="section anagrams-section" id="anagrams">
  <div class="section-title-wrapper anagrams-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title anagrams-title">GAME 1: ANAGRAMS</h2>
    </div>
  </div>
  <div class="anagrams-bg-wrapper">
    <div class="container anagrams-container">
      <p class="section-subtitle anagrams-subtitle">
        Anagrams — rearrange and rethink
      </p>
      <div class="anagrams-text-wrapper">
        <img
          class="anagrams-img"
          src="./img/anagrams/anagrams-img1.png"
          alt="Screenshot of the game"
          width="343"
          height="214"
          loading="lazy"
        />
        <p class="anagrams-text">
          Anagrams challenge you to rearrange letters and discover new words
          hidden within them. At first, it feels like a simple letter shuffle,
          but as combinations grow more complex, you need sharp focus and quick
          thinking. You'll get faster at spotting patterns the more you play -
          it's pretty satisfying when you start nailing them quickly. It also
          supports vocabulary development and memory retention without feeling
          like traditional study.
        </p>
        <img
          class="anagrams-img"
          src="./img/anagrams/anagrams-img2.png"
          alt="Screenshot of the game"
          width="343"
          height="214"
          loading="lazy"
        />
      </div>
      <p class="anagrams-list-text">What It Trains:</p>
      <ul class="anagrams-list">
        <li class="anagrams-list-item">
          <svg class="anagrams-icon" width="48" height="48">
            <use href="./img/sprite.svg#icon-aiming"></use>
          </svg>
          <p class="anagrams-item-text">Attention and concentration</p>
        </li>
        <li class="anagrams-list-item">
          <svg class="anagrams-icon" width="48" height="48">
            <use href="./img/sprite.svg#icon-speed"></use>
          </svg>
          <p class="anagrams-item-text">Speed of thinking</p>
        </li>
        <li class="anagrams-list-item">
          <svg class="anagrams-icon" width="48" height="48">
            <use href="./img/sprite.svg#icon-text-recognition"></use>
          </svg>
          <p class="anagrams-item-text">Word recognition</p>
        </li>
        <li class="anagrams-list-item">
          <svg class="anagrams-icon" width="48" height="48">
            <use href="./img/sprite.svg#icon-brain-cognitive"></use>
          </svg>
          <p class="anagrams-item-text">Memory flexibility</p>
        </li>
      </ul>
    </div>
  </div>
</section>
