<section class="section benefits-section" id="benefits">
  <div class="section-title-wrapper benefits-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title benefits-title">BENEFITS</h2>
    </div>
  </div>
  <div class="benefits-bg-wrapper">
    <div class="container benefits-container">
      <p class="section-subtitle benefits-subtitle">
        Small sessions. Real mental impact.
      </p>
      <div class="benefits-content-wrapper">
        <div class="benefits-text-wrapper">
          <p class="benefits-text">
            Each game works your brain differently, so you're not just doing the
            same thing over and over. You’re not just solving puzzles — you’re
            practicing attention control, expanding your word bank, and
            strengthening memory connections. Because the games vary in
            structure, your brain doesn’t settle into one repetitive rhythm.
            Instead, it stays alert and flexible. Why Players Keep Returning:
          </p>
          <ul class="benefits-list">
            <li class="benefits-list-item">
              <div class="benefits-item-circle"></div>
              <p class="benefits-item-text">Variety within one app</p>
            </li>
            <li class="benefits-list-item">
              <div class="benefits-item-circle"></div>
              <p class="benefits-item-text">Clear and intuitive design</p>
            </li>
            <li class="benefits-list-item">
              <div class="benefits-item-circle"></div>
              <p class="benefits-item-text">
                Short sessions that still feel productive
              </p>
            </li>
            <li class="benefits-list-item">
              <div class="benefits-item-circle"></div>
              <p class="benefits-item-text">
                A mix of logic, creativity, and language
              </p>
            </li>
          </ul>
        </div>
        <picture>
          <source
            srcset="./img/benefits/benefits-img-desk.png"
            media="(min-width: 1440px)"
            width="634"
            height="423" />
          <source
            srcset="./img/benefits/benefits-img-mob.png"
            width="343"
            height="229" />
          <img
            class="benefits-img"
            src="./img/benefits/benefits-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="229"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
