<section class="section contact-section" id="contact">
  <div class="section-title-wrapper contact-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title contact-title">CONTACT</h2>
    </div>
  </div>
  <div class="contact-bg-wrapper">
    <div class="container contact-container">
      <div class="contact-content-wrapper">
        <p class="section-subtitle contact-subtitle">Contact EvenHorizon</p>
        <p class="contact-text">
          If you have feedback, suggestions, or questions about Puzzles with
          Words, we’re happy to hear from you. If something's not working right,
          just let us know what phone you're using and we'll figure it out
          quicker. Let us know what you think - we're always trying to make the
          games better.
        </p>
        <a href="mailto:info@evenhorizon.space" class="contact-email-link">
          <svg class="email-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-email"></use></svg
          ><span>info@evenhorizon.space</span></a
        >
      </div>
    </div>
  </div>
</section>
