<section class="section hangman-section" id="hangman">
  <div class="section-title-wrapper hangman-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title hangman-title">GAME 4: HANGMAN</h2>
    </div>
  </div>
  <div class="hangman-bg-wrapper">
    <div class="container hangman-container">
      <p class="section-subtitle hangman-subtitle">Hangman — guess wisely</p>
      <div class="hangman-text-wrapper">
        <img
          class="hangman-img"
          src="./img/hangman/hangman-img1.png"
          alt="Screenshot of the game"
          width="343"
          height="214"
          loading="lazy"
        />
        <p class="hangman-text">
          Hangman invites you to guess a hidden word letter by letter, guided by
          a theme shown at the top. Every incorrect guess adds a new element to
          the drawing, increasing tension with each mistake. Classic hangman,
          but it actually helps with spelling and vocab without feeling like
          homework. It’s a classic format that remains engaging across all ages.
        </p>
        <img
          class="hangman-img"
          src="./img/hangman/hangman-img2.png"
          alt="Screenshot of the game"
          width="343"
          height="214"
          loading="lazy"
        />
      </div>
      <p class="hangman-list-text">What It Strengthens:</p>
      <ul class="hangman-list">
        <li class="hangman-list-item">
          <svg class="hangman-icon" width="48" height="48">
            <use href="./img/sprite.svg#icon-auto-focus"></use>
          </svg>
          <p class="hangman-item-text">Imagination and focus</p>
        </li>
        <li class="hangman-list-item">
          <svg class="hangman-icon" width="48" height="48">
            <use href="./img/sprite.svg#icon-vocabulary"></use>
          </svg>
          <p class="hangman-item-text">Vocabulary recall</p>
        </li>
        <li class="hangman-list-item">
          <svg class="hangman-icon" width="48" height="48">
            <use href="./img/sprite.svg#icon-logical-partition"></use>
          </svg>
          <p class="hangman-item-text">Logical deduction</p>
        </li>
        <li class="hangman-list-item">
          <svg class="hangman-icon" width="48" height="48">
            <use href="./img/sprite.svg#icon-spelling"></use>
          </svg>
          <p class="hangman-item-text">Spelling accuracy</p>
        </li>
      </ul>
    </div>
  </div>
</section>
