<header class="header">
  <div class="container header-container">
    <nav class="nav">
      <a class="header-logo-link" href="./">
        <img
          class="header-logo-img"
          src="./img/header/header-logo.png"
          alt="Logo"
          width="32"
          height="32"
        />
      </a>
      <ul class="nav-list">
        <li class="nav-list-item">
          <a class="nav-list-link" href="./index.html#home">HOME</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="./index.html#about">ABOUT THE APP</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="./index.html#anagrams"
            >GAME 1: ANAGRAMS</a
          >
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="./index.html#rebuses"
            >GAME 2: REBUSES</a
          >
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="./index.html#search"
            >GAME 3: WORD SEARCH</a
          >
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="./index.html#hangman"
            >GAME 4: HANGMAN</a
          >
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="./index.html#benefits">BENEFITS</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="./index.html#visual"
            >VISUAL EXPERIENCE</a
          >
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="./index.html#faq">FAQ</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="./index.html#contact">CONTACT</a>
        </li>
      </ul>
      <button class="nav-btn" type="button" aria-label="Open mobile menu">
        <svg class="menu-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-menu"></use>
        </svg>
      </button>
      <button class="close-btn" type="button" aria-label="Close mobile menu">
        <svg class="close-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
