<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <div class="hero-text-wrapper">
          <h1 class="hero-main-title">Four word games. One sharper mind.</h1>
          <picture>
            <source
              srcset="./img/hero/hero-img-desk.png"
              media="(min-width: 1440px)"
              width="756"
              height="454" />
            <source
              srcset="./img/hero/hero-img-mob.png"
              width="343"
              height="206" />
            <img
              class="hero-img"
              src="./img/hero/hero-img-mob.png"
              alt="Screenshot of the game"
              width="343"
              height="206"
          /></picture>
          <p class="hero-text">
            We've packed four classic word games into one simple app - no more
            juggling between different puzzle apps. Rearrange letters, decode
            picture riddles, search hidden words, and guess correctly before the
            drawing is complete. It’s simple on the surface, but the deeper you
            go, the more you realize your brain is getting a real workout.
            Whether you play for five minutes or fifty, you leave feeling
            mentally warmed up. Core Modes Included:
          </p>
          <div class="hero-list">
            <p class="hero-item-text">Anagrams</p>
            <div class="hero-item-circle"></div>
            <p class="hero-item-text">Rebuses</p>
            <div class="hero-item-circle"></div>
            <p class="hero-item-text">Word Search</p>
            <div class="hero-item-circle"></div>
            <p class="hero-item-text">Hangman</p>
          </div>
          <a
            class="hero-btn"
            target="_blank"
            href="https://play.google.com/store/apps/details?id=gg.game.puzzleswithwords&hl=en&gl=us"
            rel="noopener noreferrer"
            aria-label="Download on Google Play"
            ><svg class="playstore-icon" width="188" height="40">
              <use href="./img/sprite.svg#icon-playstore"></use></svg
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
