<section class="section rebuses-section" id="rebuses">
  <div class="section-title-wrapper rebuses-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title rebuses-title">GAME 2: REBUSES</h2>
    </div>
  </div>
  <div class="rebuses-bg-wrapper">
    <div class="container rebuses-container">
      <p class="section-subtitle rebuses-subtitle">
        Rebuses — decode the picture
      </p>
      <div class="rebuses-text-wrapper">
        <img
          class="rebuses-img"
          src="./img/rebuses/rebuses-img1.png"
          alt="Screenshot of the game"
          width="343"
          height="214"
          loading="lazy"
        />
        <p class="rebuses-text">
          Rebuses combine images, letters, numbers, and symbols to form riddles
          you must interpret correctly. These picture puzzles are wild - I've
          spent way too long staring at some of them before the answer finally
          clicks. You learn to connect visual hints with language, strengthening
          intuition and non-standard perception. It’s a playful but powerful way
          to expand vocabulary and sharpen logical reasoning.
        </p>
        <img
          class="rebuses-img"
          src="./img/rebuses/rebuses-img2.png"
          alt="Screenshot of the game"
          width="343"
          height="214"
          loading="lazy"
        />
      </div>
      <p class="rebuses-list-text">What It Develops:</p>
      <ul class="rebuses-list">
        <li class="rebuses-list-item">
          <svg class="rebuses-icon" width="48" height="48">
            <use href="./img/sprite.svg#icon-logic-nand"></use>
          </svg>
          <p class="rebuses-item-text">Logical thinking</p>
        </li>
        <li class="rebuses-list-item">
          <svg class="rebuses-icon" width="48" height="48">
            <use href="./img/sprite.svg#icon-visual-inspection"></use>
          </svg>
          <p class="rebuses-item-text">Visual memory</p>
        </li>
        <li class="rebuses-list-item">
          <svg class="rebuses-icon" width="48" height="48">
            <use href="./img/sprite.svg#icon-intuition"></use>
          </svg>
          <p class="rebuses-item-text">Intuition</p>
        </li>
        <li class="rebuses-list-item">
          <svg class="rebuses-icon" width="48" height="48">
            <use href="./img/sprite.svg#icon-creative"></use>
          </svg>
          <p class="rebuses-item-text">Creative interpretation</p>
        </li>
      </ul>
    </div>
  </div>
</section>
