<section class="section search-section" id="search">
  <div class="section-title-wrapper search-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title search-title">GAME 3: WORD SEARCH</h2>
    </div>
  </div>
  <div class="search-bg-wrapper">
    <div class="container search-container">
      <p class="section-subtitle search-subtitle">
        Word Search — focus in the grid
      </p>
      <div class="search-text-wrapper">
        <img
          class="search-img"
          src="./img/search/search-img1.png"
          alt="Screenshot of the game"
          width="343"
          height="214"
          loading="lazy"
        />
        <p class="search-text">
          Word Search presents a grid filled with letters, hiding words placed
          vertically, horizontally, diagonally, and even in reverse. Finding
          them requires patience, visual scanning, and steady attention. This
          mode encourages persistence and strengthens concentration skills over
          time. As word lists grow longer, so does the challenge — and the
          satisfaction of clearing them.
        </p>
        <img
          class="search-img"
          src="./img/search/search-img2.png"
          alt="Screenshot of the game"
          width="343"
          height="214"
          loading="lazy"
        />
      </div>
      <p class="search-list-text">What It Improves:</p>
      <ul class="search-list">
        <li class="search-list-item">
          <svg class="search-icon" width="48" height="48">
            <use href="./img/sprite.svg#icon-focus"></use>
          </svg>
          <p class="search-item-text">Focus and perseverance</p>
        </li>
        <li class="search-list-item">
          <img
            class="search-word-img"
            src="./img/search/search-word-img.png"
            alt="Screenshot of the game"
            width="48"
            height="48"
            loading="lazy"
          />
          <p class="search-item-text">Vocabulary expansion</p>
        </li>
        <li class="search-list-item">
          <svg class="search-icon" width="48" height="48">
            <use href="./img/sprite.svg#icon-pattern"></use>
          </svg>
          <p class="search-item-text">Pattern recognition</p>
        </li>
        <li class="search-list-item">
          <svg class="search-icon" width="48" height="48">
            <use href="./img/sprite.svg#icon-patience"></use>
          </svg>
          <p class="search-item-text">Patience under pressure</p>
        </li>
      </ul>
    </div>
  </div>
</section>
