<section class="visual-section section" id="visual">
  <div class="section-title-wrapper benefits-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title visual-title">VISUAL EXPERIENCE</h2>
    </div>
  </div>
  <div class="visual-bg-wrapper">
    <div class="container visual-container">
      <div class="visual-text-wrapper">
        <p class="section-subtitle visual-subtitle">
          Clean design, focused gameplay
        </p>
        <p class="visual-text">
          Puzzles with Words keeps visuals simple and readable. Clear fonts,
          structured layouts, and uncluttered interfaces help reduce distraction
          and eye strain. We kept things simple so you can focus on the puzzles
          instead of fighting with the interface. It’s made for quiet
          concentration — whether you’re at home, commuting, or taking a short
          mental break.
        </p>
      </div>
      <picture>
        <source
          srcset="./img/visual/visual-img-desk.png"
          media="(min-width: 1440px)"
          width="1440"
          height="385" />
        <source
          srcset="./img/visual/visual-img-mob.png"
          width="375"
          height="148" />
        <img
          class="visual-img"
          src="./img/visual/visual-img-mob.png"
          alt="Screenshot of the game"
          width="375"
          height="148"
          loading="lazy"
      /></picture>
    </div>
  </div>
</section>
